.header{
    height: 34vw;
    margin-left: auto;
    background: url('https://media.istockphoto.com/id/1446478827/photo/a-chef-is-cooking-in-his-restaurants-kitchen.jpg?s=1024x1024&w=is&k=20&c=Wu7klZ4YOK506jBk_B6cJCsLUgoKBAPJ-O6Qe8Q_AFU=') no-repeat ;
    background-size: 100%;
    /* position: ; */
    
}
.header-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left:6vw;
    animation: fadeIn 3s;
    margin-left: 10%;
}
.header-content h2{
    font-weight: 500;
    color: white;
    font-size: max(4.5vw ,22px)
    ;
}
.header-content p{
    color: white;
    font-size: 1vw;
}
.header-content button{
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw,13px);
    border-radius: 50px;
}
@media(max-width:1050px){
    .header{
        height: 38vw;

    }
    .header-content{
        max-width: 45%;
    }
}
@media(max-width:750px){
    
    .header-content{
        max-width: 65%;
    }
}
